<div class="row p-4">
    <div class="col-md-6 offset-md-2">
        <div class="card border-0" style="background-color:transparent;">
            <div class="card-body">
                <h2 class="text-center"> <strong>Agroinsumos de Centro America, S,A</strong></h2> <hr>
                <p>Empresa dedicada a la comercialización y desarrollo de semillas, 
                    especialmente híbridos de Papaya y Hortalizas. Asesoria en Proyectos Agrícolas.
                </p>
                <br>
                <img class="card-img-top" src="../../../assets/no-bg-agrinca.png" alt=""> <br>
                <br>
                <address class="text-center">
                    <strong>Correo:</strong> <br>
                    <i>semillas.agrinca@gmail.com</i> <br>
                    <strong>Telefonos: </strong> <br>
                    (+502) 4830-7785 <br>
                    (+502) 5797-5010
                </address>             
            </div>
        </div>
    </div>
</div>