<div class="container p-4">
  <app-navigation></app-navigation>
  <router-outlet></router-outlet>
  <div class="row">
    <div class="col-4">
        <a style="background-color: white;
        color: black;" href="https://www.facebook.com/agrinca/" target="_blank" class="btn-lg rounded-circle border-0 shadow-lg">
        <i class="fab fa-facebook"></i></a> 
    </div>
    <div class="col-4 text-center">
        <a style="background-color: white;
        color: black;" class="btn-lg rounded-circle border-0 shadow-lg">
        <i class="fab fa-instagram"></i></a>
    </div>
    <div class="col-4">
        <a href="https://www.youtube.com/channel/UC6UYA3eKdp8q2zkz-CEAFtQ" target="_blank" style="background-color: white;
        color: black;" class="btn-lg rounded-circle float-right border-0 shadow-lg">
        <i class="fab fa-youtube"></i></a>
    </div>
  </div>
</div>
<footer>
  <app-footer-page></app-footer-page>
</footer>